:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario:#c0c0c0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C
    --fonte-principal: ´inter´;
}

body {
   background-color:var(--cor-de-fundo)
   color: var(--branco-principal)
   font-family: var(--fonte principal)
   font-size:16px;
   font-weight: 400;
}

  {
    margin:0;
    padding:0;
}

.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    backgraund-size: contain;
}
  
.container{
    height:100vh;
}

.container_botao{
    backgraud-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
}

.botao_segundario {
    background-color: transoarennt;
    border: 2px solid var(--branco-princial)
}

.container_aviso {
    font-size:12px
    color: var(--cinza-secundari);
}

.contener_titulo{
    font-size: 28px;
    font-weight: 700;
}


    
